body {
    background-color: lightgray;
}

#main {
    display: block;
    font-family: sans-serif;
    margin: 2em auto 2em auto;
    background-color: white;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    max-width: 60em;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
    color: grey;
}

#title {
    font-size: 50px;
    padding: 40px 0 0 20px;
}

#small-title {
    font-size: 20px;
    margin-top: -20px;
    padding: 0 0 0 20px;
    color: grey;
}


#tribute-info {
    font-size: 20px;
    margin: 50px auto 50px auto;
    padding: 0 20px 20px 20px;
    max-width: 40em;
}

#tribute-info h3 {
    text-align: center;
    margin-bottom: 2em;
}

ul li {
    margin: 15px;
}

#speech {
    padding-top: 2em;
}

#wiki-link {
    padding-top: 2em;
}

#bottom-container {
    height: 2em;
}

